<!--about-us start -->
<section id="home" class="about-us">
  <div class="container">
    <div class="about-us-content">
      <div class="row header-image">
      </div><!--/.row-->
    </div><!--/.about-us-content-->
  </div><!--/.container-->

</section><!--/.about-us-->
<!--about-us end -->
<%= render "/static_pages/travel_box" %>
<!--travel-box end-->

<!--service start-->
<section id="service" class="service">
  <div class="container">

    <div class="service-counter text-center">

      <div class="col-md-4 col-sm-4">
        <div class="single-service-box">
          <div class="service-img">
            <%= image_tag "service/s1.png", alt: "service-icon" %>
          </div><!--/.service-img-->
          <div class="service-content">
            <h2>
              <a href="#">
              amazing tour packages
              </a>
            </h2>
            <p>Duis aute irure dolor in  velit esse cillum dolore eu fugiat nulla.</p>
          </div><!--/.service-content-->
        </div><!--/.single-service-box-->
      </div><!--/.col-->

      <div class="col-md-4 col-sm-4">
        <div class="single-service-box">
          <div class="service-img">
            <%= image_tag "service/s2.png", alt: "service-icon" %>
          </div><!--/.service-img-->
          <div class="service-content">
            <h2>
              <a href="#">
                book hot tour
              </a>
            </h2>
            <p>Duis aute irure dolor in  velit esse cillum dolore eu fugiat nulla.</p>
          </div><!--/.service-content-->
        </div><!--/.single-service-box-->
      </div><!--/.col-->

      <div class="col-md-4 col-sm-4">
        <div class="single-service-box">
          <div class="statistics-img">
            <%= image_tag "service/s3.png", alt: "service-icon" %>
          </div><!--/.service-img-->
          <div class="service-content">

            <h2>
              <a href="#">
                online tour booking
              </a>
            </h2>
            <p>Duis aute irure dolor in  velit esse cillum dolore eu fugiat nulla.</p>
          </div><!--/.service-content-->
        </div><!--/.single-service-box-->
      </div><!--/.col-->

    </div><!--/.statistics-counter-->
  </div><!--/.container-->

</section><!--/.service-->
<!--service end-->


<!--packages start-->
<section id="pack" class="packages">
  <div class="container">

    <%= render "/static_pages/package_tours" %>
  </div>
</section>
<!--packages end-->


<!-- testemonial Start -->




<!--galley start-->
