<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="loginmodal-container">
      <h1>Login to Your Account</h1><br>

      <%= form_for :sessions, url: login_path do |f| %>
        <div class="field">
          <%= f.text_field :email, autofocus: true, autocomplete: "email", placeholder: "emai" %>
        </div>

        <div class="field">
          <%= f.password_field :password, autocomplete: "current-password", placeholder: "password" %>
        </div>

        <div class="field" style="display: flex">
          <%= f.check_box :remember_me, class: "checkbox", style:"margin: 3px 0"%>
          <%= f.label :remember_me , style:" margin-left: 5px"%>
        </div>

        <div class="actions login">
          <%= f.submit "Đăng nhập", class: "book-btn" %>
        </div>
      <% end %>
      <div class="login-help">
        <%= link_to "Đăng kí tài khoản", signup_path %>
      </div>
    </div>
  </div>
</div>
<%= stylesheet_link_tag "custom_login_form", media: "all", "data-turbolinks-track": "reload" %>
