<tr>
  <td scope="row"><%= index+1 %></td>
  <th scope="row">
    <%= link_to tour_path(booking_tour.tour.id) do %>
      <%= booking_tour.tour.name %>
    <% end %>
  </th>
  <td scope="row"><%= booking_tour.price %>đ</td>
  <td scope="row"><%= t "duaration", count: booking_tour.duaration %></td>
  <td scope="row"><%= booking_tour.total_price %>đ</td>
  <td scope="row"><%= booking_tour.start_date %></td>
  <td scope="row"><%= booking_tour.quantity_person %></td>
  <td scope="row"><%= booking_tour.customer_name %></td>
  <td scope="row" style="width: 5px"><%= booking_tour.customer_email %></td>
  <td scope="row"><%= booking_tour.customer_phone %></td>
  <th scope="row"><%= booking_tour.status %></th>
  <th scope="row" style="width: 113px!important">

    <% unless booking_tour.rejected? || booking_tour.approved? ||  booking_tour.cancel? %>
      <%= link_to approved_admin_booking_tour_path(id: booking_tour.id), method: :patch, data: {confirm: "Bạn có chắc chắn muốn accept tour"}, remote: true,
      'data-toggle' => "tooltip", "data-placement" => "top", "title" => "Approved" do %>
        <%= image_tag "booking/tick.png", class: "padding-3", size: "30x25", alt: "Approved" %>
      <% end %>
    <% end %>
    <% unless booking_tour.rejected? %>
      <%= link_to rejected_admin_booking_tour_path(id: booking_tour.id), method: :patch, data: {confirm: "Bạn có chắc chắn muốn từ chối tour"}, remote: true,
        'data-toggle' => "tooltip", "data-placement" => "top", "title" => "Rejected" do %>
        <%= image_tag "booking/cross.png", class: "padding-3", size: "30x25", alt: "Rejected" %>
      <% end %>
    <% end %>

    <% if booking_tour.waiting? %>
      <%= link_to pending_admin_booking_tour_path(id: booking_tour.id), method: :patch, data: {confirm: "Bạn có chắc chắn muốn tạm hoãn tour"}, remote: true,
      'data-toggle' => "tooltip", "data-placement" => "top", "title" => "Pending" do %>
        <%= image_tag "booking/folder.png", class: "padding-3", size: "30x25", alt: "Pending" %>
      <% end %>
    <% end %>
  </th>
</tr>
