<!--about-us start -->
<section id="home" class="about-us">
  <div class="container">
    <div class="about-us-content">
      <div class="row header-image">
      </div><!--/.row-->
    </div><!--/.about-us-content-->
  </div><!--/.container-->

</section><!--/.about-us-->

<%= form_tag admin_reviews_path, method: :get do %>
<div class="row bg-info card border-primary" style="background-color: #fbfbfb">   

  <div class="col-lg-3 col-md-1 col-md-offset-1 col-sm-4"> 
  <div class="single-tab-select-box">
      <h2>Tên tour</h2>
      <div class="travel-select-icon">
        <select name="tour_id", class="form-control">
          <option value="">Tất cả</option>
          <% @tours.each do |tour| %>
            <option value="<%=tour.id%>" <%= !params[:tour_id].nil? && params[:tour_id].to_i == tour.id ? "selected" : "" %>><%=tour.name%></option><!-- /.option-->
          <%end %>
        </select><!-- /.select-->
      </div><!-- /.travel-select-icon -->
  </div><!--/.single-tab-select-box-->
  </div>

   <div class="col-lg-3 col-md-3 col-md-offset-1 col-sm-4">
    <div class="single-tab-select-box">
        <h2>Trạng thái</h2> 
      <div class="travel-select-icon">
        <select name ="feel_status", class="form-control" >
          <option value="">Tất cả</option>
          <option value="0" <%= !params[:feel_status].nil? && params[:feel_status].to_i == 0 ? "selected" : "" %>>Tích cực</option>
          <option value="1" <%= !params[:feel_status].nil? && params[:feel_status].to_i == 1 ? "selected" : "" %>>Tiêu cực</option>    
        </select><!-- /.select-->
      </div><!-- /.travel-select-icon -->
    </div><!--/.single-tab-select-box-->
  </div>
  <div class="col-lg-3 col-md-3 col-md-offset-1 col-sm-4">
    <div class="about-btn" style="margin-top: 39px; margin-left: -100px">
          <%= submit_tag "Tìm kiếm ", class: "about-view travel-btn"%> 
    </div><!--/.about-btn-->
  </div>
</div><!--/.row-->
  
<% end %>

<!--packages start-->
<section id="tabs" class="project-tab">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="tab-content mt-3" id="nav-tabContent">
            <table class="table table-bordered" cellspacing="0">
              <thead>
                <tr>
                  <th>Số</th>
                  <th>Khách hàng</th>
                  <th>Tên tour</th>
                  <th>Nội dung</th>
                  <th>Điểm</th>
                  <th>Trạng thái</th>
                  <th>Ngày</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @reviews.each_with_index do |review, index|%>
                  <%= render partial: "review", locals: {review: review, index: index} %>
                <% end %>
                <% unless @reviews.any? %>
                  Không tìm thấy bài đánh giá
                <% end %>
              </tbody>
            </table>
            <%= will_paginate @reviews, class: "my_reviews" %>
        </div>
      </div>
    </div>
  </div>
</section>
