<%= form_tag reviews_path(:tab => 'reviews'), method: :get do %>
<%= hidden_field_tag :tab, 'reviews' %>
<div class="row bg-info card border-primary">   
   <div class="col-lg-3 col-md-3 col-sm-4">
    <div class="single-tab-select-box">
      <h2>Tên tour</h2>
      <div class="travel-select-icon">
        <select name="tour_id", class="form-control">
          <option value="">Tất cả</option>
          <% @tours.each do |tour| %>
            <option value="<%=tour.id%>" <%= !params[:tour_id].nil? && params[:tour_id].to_i == tour.id ? "selected" : "" %>><%=tour.name%></option><!-- /.option-->
          <%end %>
        </select><!-- /.select-->
      </div><!-- /.travel-select-icon -->
    </div><!--/.single-tab-select-box-->
  </div>

  <div class="col-lg-3 col-md-3 col-sm-4">
    <div class="single-tab-select-box">
      <h2>Văn bản<h2> <%= text_field_tag :content, !params[:content].nil? ? params[:content] : "", class: "form-control", style: "height: 40px" %>
   </div><!--/.single-tab-select-box-->
  </div><!--/.col-->


  <div class="col-lg-3 col-md-3 col-sm-4">
    <div class="single-tab-select-box">
      <h2>Ngày tạo</h2> 
      <div class="travel-check-icon">
        <input type="text" name="created_at" class="form-control" data-toggle="datepicker" placeholder="<%= Date.today.strftime("%d-%m-%Y") %>" value="<%= !params[:created_at].nil? ? params[:created_at] : "" %>">
      </div><!-- /.travel-select-icon -->
    </div><!--/.single-tab-select-box-->
  </div><!--/.col-->

  <div class="col-lg-3 col-md-3 col-sm-4">
    <div class="about-btn">
          <%= submit_tag "Tìm kiếm ", class: "about-view travel-btn" %> 
    </div><!--/.about-btn-->
  </div>
</div><!--/.row-->
  
<% end %>
