<%= form_for :review_params, url: reviews_path(:tab => 'review'), method: :get do |f| %>
<div class="row bg-info card border-primary">   
   <div class="col-lg-3 col-md-3 col-sm-4">
    <div class="single-tab-select-box">
      <h2>Tour name</h2>
      <div class="travel-select-icon">
        <select name = "name", class="form-control">
          <% @tours.each do |tours  | %>
            <option value="<%=tours.name%>"><%=tours.name%></option><!-- /.option-->
          <%end %>
        </select><!-- /.select-->
      </div><!-- /.travel-select-icon -->
    </div><!--/.single-tab-select-box-->
  </div>

  <div class="col-lg-3 col-md-3 col-sm-4">
    <div class="single-tab-select-box">
      <h2>Text<h2> <%= f.text_field :content, class: "form-control", style: "height: 40px" %>
   </div><!--/.single-tab-select-box-->
  </div><!--/.col-->


  <div class="col-lg-3 col-md-3 col-sm-4">
    <div class="single-tab-select-box">
      <h2>Created at</h2> 
      <div class="travel-check-icon">
        <input type="text" name="date" class="form-control" data-toggle="datepicker" placeholder="22 -01 - 2017">
      </div><!-- /.travel-select-icon -->
    </div><!--/.single-tab-select-box-->
  </div><!--/.col-->

  <div class="col-lg-3 col-md-3 col-sm-4">
    <div class="about-btn">
          <%= f.submit "Search", class: "about-view travel-btn" %> 
    </div><!--/.about-btn-->
  </div>
</div><!--/.row-->
  
<% end %>
